h1{
    color: rgb(2, 25, 102);
    text-align:center:
}
h2{
    color: rgb(2, 25, 102);
}

<image techbusiness.jpeg{
    vertical-align: middle, center
}
image me.jpeg{
   vertical-align: left, middle
}
head{
    align:center;

}
body{
    background-image:url(techback.png)
}
content{
    align-content:center
}